<%= form_for(@post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.collection_select  :category_id, Category.order(:name),:id,:name, include_blank: true %>
    <%= f.file_field :image %>

    <%= f.fields_for :track do |u| %>
    <%= u.file_field :music %>
        <%end %>
    <%= f.submit %>
  </div>
<% end %>
