<%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.label :title_or_description_cont %>
      <%= f.search_field :title_or_description_cont, placeholder: "Search"  %>
    </div>
    <span class=" glyphicon glyphicon-filter">
      <%= f.submit %>
    </span>
<%end %>
<%= button_to "Clear", posts_path, method: 'get' %>
<h1>Posts</h1>
<div>
<%if can?  :create, Post %>
    <%= button_to 'New Post', new_post_path, method: 'get'%>
<% end %>
</div>
<br>
<% @posts.each do |post| %>
    <div>
      <%= image_tag post.image.url(:medium) %>
      <h3><%= post.title %></h3>

      <%= link_to 'Show', post %>
      <%if can?  :destroy, @post %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
<% end %>

<br>
